.post {
  display: block;
  margin: auto;
}

.post_input {
  width: 100%;
  height: 15px;
  float: left;
}

.invalid {
  border: 3px solid red;
}

.text_area {
  min-height: 100px;
  width: 100%;
}

.submit {
  margin: auto;
  width: 400px;
  height: 50px;
  background: slateblue;
  display: block;
  margin-top: 36px;
}
